/*
 * Esta hoja de estilos comienza con la guía de indentidate corporativa de la udc.
 *
 * === Colores ===
 *
 * - Texto: #222222
 *   - Triada: #222222 #AEAEAE #6E6E6E #333333
 *                     #BBBBBB
 * - Logo: #D60D8C, pantone 233
 *   - Triada: #D60D8C, #89165F  -  #DDC323  -  #1A9CA3, #018289/#015256
 *
 * === Tipografía ===
 *
 * - Familia: Arial, Helvetica o equivalente
 * - Tamaño: no se especifica
 *
 */

/*
 * Por omisión asumimos un navegador con un ancho de hasta 360px
 */


/* Reset de propiedades */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Valores por omision:
 * - Ver guía de estilo
 * - Tamaño de fuente: por defecto
 */
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #222222;
    background-color: #FAFAFA;
    width: 100%;
}

body > header {
    width: 100%;
    height: 96px; /* @TODO ¿ Cómo asegurarse que es 48dp ? */
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(1,82,86, 0.8);
}

    body > header h1 {
	margin: 12px;
	color: #DDC323;
	font-size: 140%;
	text-align: center;
    }

section#main {
    margin-top: 96px;
    margin-right: 12px;
}

/* Estilo del calendario */
table.calendar-weeks {
    width: 100%;
    border-collapse: collapse;
    text-align: right;
    margin-right: 24px;   /* Espacio para la barra de scroll */
    table-layout: fixed;
}

    /* Estilo del caption = no mostrar en pantalla, pero conservar para la a11y */
    table.calendar-weeks caption {
	position: absolute;   /* Fuck off yaws */
	left: -999px;
	width: 990px;
	overflow: hidden;
    }

    /* Estilo de las cabeceras del calendario */
    table.calendar-weeks th {
	color: #015256;
	font-weight: normal;
	padding: 6px 0;
	border-bottom: 2px solid #015256;
    }
    table.calendar-weeks th:first-child {
	border: 0;
    }

    /* Estilo para las casillas del calendario */
    table.calendar-weeks tbody tr {
	font-size: 100%;
	height: 3em;
    }
        table.calendar-weeks tbody td {
	    background-color: #FAFAFF;
	    border-bottom: 1px solid #018289;
            border-right: 1px solid #018289;
            vertical-align: top;
	    padding: 2px 4px;
	}
	table.calendar-weeks tbody td:first-child {
	    background-color: inherit;
	    border-bottom: 0;
	    color: #AEAEAE;
	    text-align: center;
	    font-style: italic;
	    font-size: 90%;
	    vertical-align: middle;
	}
    table.calendar-weeks td.today {
	background-color: #DDC323;
	font-weight: bold;
    }


/* Estilo del contenido aside */
aside {
    margin-top: 48px;
    border: 0 solid #015256;
    border-width: 0 1px 1px 1px;
    box-shadow: 0px 1px 2px #015256;
    font-size: 90%;
    padding: 0 14px;
}

    aside header h1 {
	font-size: 110%;
	color: #018289;
	font-weight: bold;
    }

    aside ul {
	list-style: none;
    }
        aside ul li {
	    overflow: hidden;
	    margin: 12px 0 0 0;
	}
            aside li p {
		margin: 0;
		height: 2em;
		padding: 0 32px 0 10px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		line-height: 1;
	    }
	    aside li p:first-child {
		color: #018289;
		padding-left: 0;
	    }

	    aside li a {
		color: #044144;
		font-style: italic;
		letter-spacing: 1px;
	    }


/* Estilo para el formulario */
form[name="calendar-data"] {
    font-size: 120%;
}
    form[name="calendar-data"] p {
	padding: 10px 4px;
	font-weight: bold;
    }
    form[name="calendar-data"] select {
	margin-left: .6em;
	background-color: transparent;
	font-weight: bold;
	color: #015256;
    }
    form[name="calendar-data"] input[type="submit"] {
	display: block;
	width: 100%;
	height: 48px;
	background-color: inherit;
	text-align: center;
	font-size: 120%;
	font-weight: bold;
	color: #015256;
	cursor: pointer;
    }
    form[name="calendar-data"] :focus {
	outline: none;
	-moz-user-focus: none;
	text-decoration: underline;
    }
    form[name="calendar-data"] ::-moz-focus-inner {
	border: 0;
    }



/*
 * Ponemos un breakpoint en 1000px
 * A partir de ahí, el layout es en dos columnas, una para el calendario y otra para el aside.
 */

@media screen and (min-width: 1000px) {
    section#main {
	display: inline-block;
	width: 73.24218750%;
    }

    aside {
	display: inline-block;
	width: 21.67968750%;
	vertical-align: top;
	margin-top: 103px;
    }

    body > header h1 {
	font-size: 170%;
    }

    table.calendar-weeks tbody tr {
	height: 5em;
    }

}

@media screen and (min-width: 1440px) {
    @font-face {
	font-family: "ANUDAW";
	src: url(ANUDI___.ttf) format("truetype");
    }

    body {
	width: 90%;
	margin: 0 auto;
    }

    body > header {
	background-color: transparent;
    }
        body > header h1 {
	    width: 90%;
	    background-color: rgba(1,82,86, 0.8);
	    margin: 0 auto;
	    padding: 28px 0;
	    font-family: "ANUDAW";
	    font-size: 170%;
	}

    table.calendar-weeks tbody tr {
	height: 8em;
    }   
}